@using RecruitmentAgency.Enum
@using RecruitmentAgency.Data_Access_Layer

@{
	ViewBag.Title = "Home Page";
}

<h3>Добро пожаловать!</h3>
@if (!User.Identity.IsAuthenticated)
{
	@Html.ActionLink("Войдите чтобы начать использовать систему", "Login", "Account") <br>
	@Html.ActionLink("Ещё нет аккаунта? Зарегистрируйтесь", "Register", "Account")
}

@if (User.Identity.IsAuthenticated)
{
	if (UserDAL.GetUserByName(User.Identity.Name).Role == Role.employer)
	{
		@Html.ActionLink("Создать вакансию", "Vacancy", "Vacancy") <br>
		@Html.ActionLink("Посмотреть свои вакансии", "ListOfVacancies", "Vacancy") <br>
		@Html.ActionLink("Посмотреть кандидатов", "ListOfCandidates", "Candidate")
	}
	if (UserDAL.GetUserByName(User.Identity.Name).Role == Role.candidate)
	{
		@Html.ActionLink("Создать резюме", "Candidate", "Candidate") <br>
		@Html.ActionLink("Посмотреть вакансии", "ListOfVacancy", "Vacancy")
	}
	if (UserDAL.GetUserByName(User.Identity.Name).Role == Role.admin)
	{
		@Html.ActionLink("Посмотреть пользователей", "ListOfCandidates", "Candidate")
	}
}
