
@{
	ViewBag.Title = "Подходящие вакансии";
}

<h1>Подходящие вакансии</h1>
@model IEnumerable<RecruitmentAgency.Models.Vacancy>

@using (Html.BeginForm("MyVacancies", "Vacancy", FormMethod.Post, new { id = "view-vacancy-form" }))
{


	<table class="table table-hover" id="resultTable">
		<thead>
			<tr>
				<th>
					<p>Название</p>
				</th>
				<th>
					<p>Описание</p>
				</th>
				<th>
					<p>Дата закрытия</p>
				</th>
				<th>
					<p>Оплата</p>
				</th>
				<th>
					<p>Вакансия открыта?</p>
				</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Name</td>
					<td>@item.Description</td>
					<td>@item.CloseTime</td>
					<td>@item.Payment</td>
					<td>@item.IsOpen</td>
					<td>@Html.ActionLink("Детали", "VacancyDetails", "Vacancy", new { item.Id }, null) </td>
				</tr>
			}
		</tbody>
	</table>
}
